<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundleuser.CreateUsersTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundleuser.CreateUsersLabel_uid}" for="uid" />
                    <h:inputText id="uid" value="#{usersController.selected.uid}" title="#{bundleuser.CreateUsersTitle_uid}" required="true" requiredMessage="#{bundleuser.CreateUsersRequiredMessage_uid}"/>
                    <h:outputLabel value="#{bundleuser.CreateUsersLabel_user}" for="user" />
                    <h:inputText id="user" value="#{usersController.selected.user}" title="#{bundleuser.CreateUsersTitle_user}" required="true" requiredMessage="#{bundleuser.CreateUsersRequiredMessage_user}"/>
                    <h:outputLabel value="#{bundleuser.CreateUsersLabel_pass}" for="pass" />
                    <h:inputText id="pass" value="#{usersController.selected.pass}" title="#{bundleuser.CreateUsersTitle_pass}" required="true" requiredMessage="#{bundleuser.CreateUsersRequiredMessage_pass}"/>
                    <h:outputLabel value="#{bundleuser.CreateUsersLabel_estado}" for="estado" />
                    <h:inputText id="estado" value="#{usersController.selected.estado}" title="#{bundleuser.CreateUsersTitle_estado}" />
                </h:panelGrid>
                <br />
                <h:commandLink action="#{usersController.create}" value="#{bundleuser.CreateUsersSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{usersController.prepareList}" value="#{bundleuser.CreateUsersShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundleuser.CreateUsersIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
