<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundleuser.EditUsersTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundleuser.EditUsersLabel_uid}" for="uid" />
                    <h:inputText id="uid" value="#{usersController.selected.uid}" title="#{bundleuser.EditUsersTitle_uid}" required="true" requiredMessage="#{bundleuser.EditUsersRequiredMessage_uid}"/>
                    <h:outputLabel value="#{bundleuser.EditUsersLabel_user}" for="user" />
                    <h:inputText id="user" value="#{usersController.selected.user}" title="#{bundleuser.EditUsersTitle_user}" required="true" requiredMessage="#{bundleuser.EditUsersRequiredMessage_user}"/>
                    <h:outputLabel value="#{bundleuser.EditUsersLabel_pass}" for="pass" />
                    <h:inputText id="pass" value="#{usersController.selected.pass}" title="#{bundleuser.EditUsersTitle_pass}" required="true" requiredMessage="#{bundleuser.EditUsersRequiredMessage_pass}"/>
                    <h:outputLabel value="#{bundleuser.EditUsersLabel_estado}" for="estado" />
                    <h:inputText id="estado" value="#{usersController.selected.estado}" title="#{bundleuser.EditUsersTitle_estado}" />
                </h:panelGrid>
                <h:commandLink action="#{usersController.update}" value="#{bundleuser.EditUsersSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundleuser.EditUsersViewLink}"/>
                <br />
                <h:commandLink action="#{usersController.prepareList}" value="#{bundleuser.EditUsersShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundleuser.EditUsersIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
