<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    
    <ui:composition template="/template.xhtml">
        
        
        <ui:define name="title">
            <h:outputText value="#{bundleuser.ListUsersTitle}"></h:outputText>
        </ui:define>
        
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundleuser.ListUsersEmpty}" rendered="#{usersController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{usersController.items.rowCount > 0}">
                    <h:outputText value="#{usersController.pagination.pageFirstItem + 1}..#{usersController.pagination.pageLastItem + 1}/#{usersController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{usersController.previous}" value="#{bundleuser.Previous} #{usersController.pagination.pageSize}" rendered="#{usersController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{usersController.next}" value="#{bundleuser.Next} #{usersController.pagination.pageSize}" rendered="#{usersController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{usersController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundleuser.ListUsersTitle_uid}"/>
                            </f:facet>
                            <h:outputText value="#{item.uid}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundleuser.ListUsersTitle_user}"/>
                            </f:facet>
                            <h:outputText value="#{item.user}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundleuser.ListUsersTitle_pass}"/>
                            </f:facet>
                            <h:outputText value="#{item.pass}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundleuser.ListUsersTitle_estado}"/>
                            </f:facet>
                            <h:outputText value="#{item.estado}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{usersController.prepareView}" value="#{bundleuser.ListUsersViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{usersController.prepareEdit}" value="#{bundleuser.ListUsersEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{usersController.destroy}" value="#{bundleuser.ListUsersDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{usersController.prepareCreate}" value="#{bundleuser.ListUsersCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundleuser.ListUsersIndexLink}"/>
            </h:form>
            
        </ui:define>
    </ui:composition>

</html>
