<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundleuser.ViewUsersTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundleuser.ViewUsersLabel_uid}"/>
                    <h:outputText value="#{usersController.selected.uid}" title="#{bundleuser.ViewUsersTitle_uid}"/>
                    <h:outputText value="#{bundleuser.ViewUsersLabel_user}"/>
                    <h:outputText value="#{usersController.selected.user}" title="#{bundleuser.ViewUsersTitle_user}"/>
                    <h:outputText value="#{bundleuser.ViewUsersLabel_pass}"/>
                    <h:outputText value="#{usersController.selected.pass}" title="#{bundleuser.ViewUsersTitle_pass}"/>
                    <h:outputText value="#{bundleuser.ViewUsersLabel_estado}"/>
                    <h:outputText value="#{usersController.selected.estado}" title="#{bundleuser.ViewUsersTitle_estado}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{usersController.destroyAndView}" value="#{bundleuser.ViewUsersDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundleuser.ViewUsersEditLink}"/>
                <br />
                <h:commandLink action="#{usersController.prepareCreate}" value="#{bundleuser.ViewUsersCreateLink}" />
                <br />
                <h:commandLink action="#{usersController.prepareList}" value="#{bundleuser.ViewUsersShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundleuser.ViewUsersIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
