<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>JAJA</title>
        <link href="../resources/css/KK.css" rel="stylesheet" type="text/css"/>
        <link href="../resources/css/KK2.css" rel="stylesheet" type="text/css"/>
    </h:head>
    <h:body style="background-color:#FAFAFA">
     <img src="../resources/images/LOGO.png" width="400px" height="99"/><br/>
     <h:form><ul>
        <li><a class="active" href="">REGISTRAR PRODUCTO</a></li>
        <li><a href="../venta/Create.xhtml">REGISTAR VENTA</a></li>
        <li><h:commandLink action="#{productoController.prepareList}" value="UNIDADES EN STOCK"/></li>
        <li style="float:right;"><a href=""  class="active">▼ OPCIONES</a>
        <ul>
          <li><a class="lis" href="">AGREGAR USUARIO</a></li>
          <li><a class="lis" href="">AGREGAR PROVEEDOR</a></li>
          <li><a class="lis" href="">AGREGAR CLIENTE</a></li>
          <li><a class="lis" href="">CERRAR SESION</a></li>
        </ul>
      </li>
         </ul>
     </h:form><br/>
     <h:form>
         <p:commandButton class="non"  action="#{productoController.prepareCreate()}" value="Producto Nuevo" />
         <p:commandButton class="act" value="Producto Existente"/>
         </h:form>
            <h:form>
  <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup><hr/>
                    <h:dataTable class="tabla" value="#{productoController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                   <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListProductoTitle_productoName}"/>
                            </f:facet>
                            <h:outputText value="#{item.productoName}"/>
                        </h:column>
                       <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListProductoTitle_unitInStock}"/>
                            </f:facet>
                            <h:outputText value="#{item.unitInStock}"/>
                        </h:column>
                      <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                           <p:commandButton class="links" action="#{productoController.prepareEdit2}" value="Agregar Mas Stock" style="padding:1px; font-size:15px;"/>
                             </h:column>
                    </h:dataTable>
                <br /><hr/>
               </h:form>
    </h:body>

</html>
