<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>INICIO</title>
        <link href="../resources/css/KK.css" rel="stylesheet" type="text/css"/>
    </h:head>
    <h:body style="background-color:#FAFAFA">
     <img src="../resources/images/LOGO.png" width="400px" height="99"/><br/>
     <h:form><ul>
        <li><a class="active" href="">REGISTRAR PRODUCTO</a></li>
        <li><a href="../venta/Create.xhtml">REGISTAR VENTA</a></li>
        <li><h:commandLink action="#{productoController.prepareList}" value="UNIDADES EN STOCK"/></li>
        <li style="float:right;"><a href=""  class="active">▼ OPCIONES</a>
        <ul>
          <li><a class="lis" href="">AGREGAR USUARIO</a></li>
          <li><a class="lis" href="">AGREGAR PROVEEDOR</a></li>
          <li><a class="lis" href="">AGREGAR CLIENTE</a></li>
          <li><a class="lis" href="">CERRAR SESION</a></li>
        </ul>
      </li>
         </ul>
     </h:form><br/>
     <h:form>
         <p:commandButton class="act" value="Producto Nuevo" />
         <p:commandButton class="non" action="#{productoController.prepareCreate2()}" value="Producto Existente"/>
         </h:form>
            <h:form class="fr">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup><hr/>
               <h:outputLabel value="Categoria:"/>
                    <h:selectOneMenu>
                        <f:selectItems value="#{productoController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                  <p:commandButton class="naranja" onclick="location.href='../categorias/Create.xhtml'" value="Añadir Categoria" ></p:commandButton><br/>
             <h:panelGrid columns="2">
                <h:outputLabel value="#{bundle.CreateProductoLabel_productoName}" for="productoName" />
                    <h:inputText id="productoName" value="#{productoController.selected.productoName}" title="#{bundle.CreateProductoTitle_productoName}" required="true" requiredMessage="#{bundle.CreateProductoRequiredMessage_productoName}"/>
                    <h:outputLabel value="#{bundle.CreateProductoLabel_unitPrice}" for="unitPrice" />
                    <h:inputText id="unitPrice" value="#{productoController.selected.unitPrice}" title="#{bundle.CreateProductoTitle_unitPrice}" required="true" requiredMessage="#{bundle.CreateProductoRequiredMessage_unitPrice}"/>
                    <h:outputLabel value="#{bundle.CreateProductoLabel_unitInStock}" for="unitInStock" />
                    <h:inputText id="unitInStock" value="#{productoController.selected.unitInStock}" title="#{bundle.CreateProductoTitle_unitInStock}" required="true" requiredMessage="#{bundle.CreateProductoRequiredMessage_unitInStock}"/>
                     <h:outputLabel value="#{bundle.CreateProductoLabel_fechaAdquisicion}" for="fechaAdquisicion" />
                    <h:inputText id="fechaAdquisicion" value="#{productoController.selected.fechaAdquisicion}" title="#{bundle.CreateProductoTitle_fechaAdquisicion}" required="true" requiredMessage="#{bundle.CreateProductoRequiredMessage_fechaAdquisicion}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.CreateProductoLabel_description}" for="description" />
                    <h:inputText id="description" value="#{productoController.selected.description}" title="#{bundle.CreateProductoTitle_description}" required="true" requiredMessage="#{bundle.CreateProductoRequiredMessage_description}"/>
                </h:panelGrid>
               <br /><hr/>
                <p:commandButton class="volver"  action="#{productoController.create}" value="#{bundle.CreateProductoSaveLink}" />
    </h:form>
    </h:body>

</html>
