<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
   <h:head>
        <title>Ver Detalles deñ Producto</title>
        <link href="../resources/css/estilo_inicio.css" rel="stylesheet" type="text/css"/>
        <link href="../resources/css/Producto.css" rel="stylesheet" type="text/css"/>
    </h:head>
    <h:body style="background-color:#FAFAFA">
     <img src="../resources/images/LOGO.png" width="400px" height="99"/><br/>
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                 <br/>
                  <label>Editar</label><br/>
                <hr/>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditProductoLabel_productoName}" for="productoName" />
                    <h:inputText id="productoName" value="#{productoController.selected.productoName}" title="#{bundle.EditProductoTitle_productoName}" required="true" requiredMessage="#{bundle.EditProductoRequiredMessage_productoName}"/>
                     <h:outputLabel value="Cantidad a Ingresar" for="cantidad" />
                    <h:inputText id="cantidad" value="#{productoController.selected.cantidad}" title="#{bundle.EditProductoTitle_cantidad}" required="true" requiredMessage="#{bundle.EditProductoRequiredMessage_cantidad}"/>
                </h:panelGrid>
                <p:commandButton class="save" action="#{productoController.update2}" value="#{bundle.EditProductoSaveLink}"/>
                <p:commandButton class="volver" action="#{productoController.prepareCreate2}" value="Cancelar" immediate="true"/>
            </h:form>
    </h:body>
</html>
