<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
   <h:head>
        <title>Ver Detalles deñ Producto</title>
        <link href="../resources/css/estilo_inicio.css" rel="stylesheet" type="text/css"/>
        <link href="../resources/css/Producto.css" rel="stylesheet" type="text/css"/>
    </h:head>
    <h:body style="background-color:#FAFAFA">
     <img src="../resources/images/LOGO.png" width="400px" height="99"/><br/>
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                 <br/>
                  <label>Editar</label><br/>
                <hr/>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditProductoLabel_productoID}" for="productoID" />
                    <h:inputText id="productoID" value="#{productoController.selected.productoID}" title="#{bundle.EditProductoTitle_productoID}" required="true" requiredMessage="#{bundle.EditProductoRequiredMessage_productoID}"/>
                    <h:outputLabel value="#{bundle.EditProductoLabel_productoName}" for="productoName" />
                    <h:inputText id="productoName" value="#{productoController.selected.productoName}" title="#{bundle.EditProductoTitle_productoName}" required="true" requiredMessage="#{bundle.EditProductoRequiredMessage_productoName}"/>
                    <h:outputLabel value="#{bundle.EditProductoLabel_unitPrice}" for="unitPrice" />
                    <h:inputText id="unitPrice" value="#{productoController.selected.unitPrice}" title="#{bundle.EditProductoTitle_unitPrice}" required="true" requiredMessage="#{bundle.EditProductoRequiredMessage_unitPrice}"/>
                    <h:outputLabel value="#{bundle.EditProductoLabel_unitInStock}" for="unitInStock" />
                    <h:inputText id="unitInStock" value="#{productoController.selected.unitInStock}" title="#{bundle.EditProductoTitle_unitInStock}" required="true" requiredMessage="#{bundle.EditProductoRequiredMessage_unitInStock}"/>
                    <h:outputLabel value="#{bundle.EditProductoLabel_cantidad}" for="cantidad" />
                    <h:inputText id="cantidad" value="#{productoController.selected.cantidad}" title="#{bundle.EditProductoTitle_cantidad}" required="true" requiredMessage="#{bundle.EditProductoRequiredMessage_cantidad}"/>
                    <h:outputLabel value="#{bundle.EditProductoLabel_fechaAdquisicion}" for="fechaAdquisicion" />
                    <h:inputText id="fechaAdquisicion" value="#{productoController.selected.fechaAdquisicion}" title="#{bundle.EditProductoTitle_fechaAdquisicion}" required="true" requiredMessage="#{bundle.EditProductoRequiredMessage_fechaAdquisicion}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.EditProductoLabel_description}" for="description" />
                    <h:inputText id="description" value="#{productoController.selected.description}" title="#{bundle.EditProductoTitle_description}" required="true" requiredMessage="#{bundle.EditProductoRequiredMessage_description}"/>
                </h:panelGrid>
                <p:commandButton class="save" action="#{productoController.update}" value="#{bundle.EditProductoSaveLink}"/>
                <p:commandButton class="volver" action="#{productoController.prepareList}" value="#{bundle.EditProductoShowAllLink}" immediate="true"/>
            </h:form>
    </h:body>
</html>
