<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
 <h:head>
        <title>INICIO</title>
        <link href="../resources/css/KK.css" rel="stylesheet" type="text/css"/>
        <link href="../resources/css/KK2.css" rel="stylesheet" type="text/css"/>
    </h:head>
    <h:body style="background-color:#FAFAFA">
     <img src="../resources/images/LOGO.png" width="400px" height="99"/><br/>
     <h:form><ul>
        <li><h:commandLink action="#{productoController.prepareCreate}" value="REGISTRAR PRODUCTO"/>
          </li>
            <li><a href="../venta/Create.xhtml">REGISTAR VENTA</a></li>
        <li><h:commandLink  class="active" action="#{productoController.prepareList}" value="UNIDADES EN STOCK"/></li>
        <li style="float:right;"><a href=""  class="active">▼ OPCIONES</a>
        <ul>
          <li><a class="lis" href="">AGREGAR USUARIO</a></li>
          <li><a class="lis" href="">AGREGAR PROVEEDOR</a></li>
          <li><a class="lis" href="">AGREGAR CLIENTE</a></li>
          <li><a class="lis" href="">CERRAR SESION</a></li>
        </ul>
      </li>
         </ul></h:form>
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListProductoEmpty}" rendered="#{productoController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{productoController.items.rowCount > 0}">
                    <h:outputText value="#{productoController.pagination.pageFirstItem + 1}..#{productoController.pagination.pageLastItem + 1}/#{productoController.pagination.itemsCount}"/>&nbsp;
                    <p:commandButton class ="naranja" action="#{productoController.previous}" value="#{bundle.Previous}" rendered="#{productoController.pagination.hasPreviousPage}"/>&nbsp;
                    <p:commandButton  class="naranja" action="#{productoController.next}" value="#{bundle.Next}" rendered="#{productoController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable class="tabla" value="#{productoController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListProductoTitle_productoID}"/>
                            </f:facet>
                            <h:outputText value="#{item.productoID}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListProductoTitle_productoName}"/>
                            </f:facet>
                            <h:outputText value="#{item.productoName}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListProductoTitle_unitPrice}"/>
                            </f:facet>
                            <h:outputText value="#{item.unitPrice}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListProductoTitle_unitInStock}"/>
                            </f:facet>
                            <h:outputText value="#{item.unitInStock}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListProductoTitle_fechaAdquisicion}"/>
                            </f:facet>
                            <h:outputText value="#{item.fechaAdquisicion}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListProductoTitle_description}"/>
                            </f:facet>
                            <h:outputText value="#{item.description}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <p:commandButton class="links" action="#{productoController.prepareView}" value="#{bundle.ListProductoViewLink}" style="padding:1px; font-size:15px;"/>
                            <h:outputText value=" "/>
                            <p:commandButton class="links" action="#{productoController.prepareEdit}" value="#{bundle.ListProductoEditLink}" style="padding:1px; font-size:15px;"/>
                            <h:outputText value=" "/>
                            <p:commandButton class="linkss" action="#{productoController.destroy}" value="#{bundle.ListProductoDestroyLink}" style="padding:1px; font-size:15px;"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
            </h:form>
    </h:body>

</html>
