<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
 <h:head>
        <title>Ver Detalles deñ Producto</title>
        <link href="../resources/css/estilo_inicio.css" rel="stylesheet" type="text/css"/>
        <link href="../resources/css/Producto.css" rel="stylesheet" type="text/css"/>
    </h:head>
    <h:body style="background-color:#FAFAFA">
     <img src="../resources/images/LOGO.png" width="400px" height="99"/><br/>
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
               <br/>
                  <label>Ver Detalles</label><br/>
                <hr/>
                   <h:panelGrid columns="2" style="margin-left:15px;">
                    <h:outputText value="#{bundle.ViewProductoLabel_productoID}"/>
                    <h:outputText value="#{productoController.selected.productoID}" title="#{bundle.ViewProductoTitle_productoID}"/>
                    <h:outputText value="#{bundle.ViewProductoLabel_productoName}"/>
                    <h:outputText value="#{productoController.selected.productoName}" title="#{bundle.ViewProductoTitle_productoName}"/>
                    <h:outputText value="#{bundle.ViewProductoLabel_unitPrice}"/>
                    <h:outputText value="#{productoController.selected.unitPrice}" title="#{bundle.ViewProductoTitle_unitPrice}"/>
                    <h:outputText value="#{bundle.ViewProductoLabel_unitInStock}"/>
                    <h:outputText value="#{productoController.selected.cantidad}" title="#{bundle.ViewProductoTitle_cantidad}"/>
                    <h:outputText value="#{bundle.ViewProductoLabel_fechaAdquisicion}"/>
                    <h:outputText value="#{productoController.selected.fechaAdquisicion}" title="#{bundle.ViewProductoTitle_fechaAdquisicion}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewProductoLabel_description}"/>
                    <h:outputText value="#{productoController.selected.description}" title="#{bundle.ViewProductoTitle_description}"/>
                </h:panelGrid>
                <br />
               <p:commandButton class="volver" action="#{productoController.prepareList}" value="#{bundle.ViewProductoShowAllLink}" />
            <h:link class="volver" outcome="Edit" value="#{bundle.ViewProductoEditLink}"
                   style="padding:8px;
                   text-decoration:none;"/>
               <p:commandButton class="red" action="#{productoController.destroyAndView}" value="#{bundle.ViewProductoDestroyLink}"
                                style="color: #faddde;
    border: solid 1px #980c10;
    border:none;
    background: #d81b21;
    background: -webkit-gradient(linear, left top, left bottom, from(#ed1c24), to(#aa1317));
    background: -moz-linear-gradient(top, #ed1c24, #aa1317);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed1c24', endColorstr='#aa1317');"/>
               
            </h:form>
    </h:body>
</html>
