<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
 <h:head>
        <title>INICIO</title>
        <link href="../resources/css/estilo_inicio.css" rel="stylesheet" type="text/css"/>
    </h:head>
    <h:body style="background-color:#FAFAFA">
     <img src="../resources/images/LOGO.png" width="400px" height="99"/><br/>
     <h:form><ul>
        <li><a href="../producto/Create.xhtml">REGISTRAR PRODUCTO</a></li>
        <li><a class="active" href="">REGISTRAR VENTA</a></li>
        <li><a href="../producto/List.xhtml">UNIDADES EN STOCK</a></li>
        <li style="float:right;"><a href=""  class="active">▼ OPCIONES</a>
        <ul>
          <li><a class="lis" href="">AGREGAR USUARIO</a></li>
          <li><a class="lis" href="">AGREGAR PROVEEDOR</a></li>
          <li><a class="lis" href="">AGREGAR CLIENTE</a></li>
          <li><a class="lis" href="">CERRAR SESION</a></li>
        </ul>
      </li>
         </ul>
     </h:form><br/>
            <h:form>
                  <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateVentaLabel_ventaID}" for="ventaID" />
                    <h:inputText id="ventaID" value="#{ventaController.selected.ventaID}" title="#{bundle.CreateVentaTitle_ventaID}" required="true" requiredMessage="#{bundle.CreateVentaRequiredMessage_ventaID}"/>
                    <h:outputLabel value="#{bundle.CreateVentaLabel_fechaVenta}" for="fechaVenta" />
                    <h:inputText id="fechaVenta" value="#{ventaController.selected.fechaVenta}" title="#{bundle.CreateVentaTitle_fechaVenta}" required="true" requiredMessage="#{bundle.CreateVentaRequiredMessage_fechaVenta}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.CreateVentaLabel_clienteID}" for="clienteID" />
                    <h:selectOneMenu id="clienteID" value="#{ventaController.selected.clienteID}" title="#{bundle.CreateVentaTitle_clienteID}" required="true" requiredMessage="#{bundle.CreateVentaRequiredMessage_clienteID}">
                        <f:selectItems value="#{clienteController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.CreateVentaLabel_productID}" for="productID" />
                    <h:selectOneMenu id="productID" value="#{ventaController.selected.productID}" title="#{bundle.CreateVentaTitle_productID}" required="true" requiredMessage="#{bundle.CreateVentaRequiredMessage_productID}">
                        <f:selectItems value="#{productoController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <p:commandButton class="volver" action="#{ventaController.create}" value="#{bundle.CreateVentaSaveLink}" />
                <br />
                <br />
                <p:commandButton class="volver" action="#{ventaController.prepareList}" value="Ver todas las ventas" immediate="true"/>
            </h:form>
    </h:body>

</html>
