<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditVentaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditVentaLabel_ventaID}" for="ventaID" />
                    <h:inputText id="ventaID" value="#{ventaController.selected.ventaID}" title="#{bundle.EditVentaTitle_ventaID}" required="true" requiredMessage="#{bundle.EditVentaRequiredMessage_ventaID}"/>
                    <h:outputLabel value="#{bundle.EditVentaLabel_fechaVenta}" for="fechaVenta" />
                    <h:inputText id="fechaVenta" value="#{ventaController.selected.fechaVenta}" title="#{bundle.EditVentaTitle_fechaVenta}" required="true" requiredMessage="#{bundle.EditVentaRequiredMessage_fechaVenta}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.EditVentaLabel_clienteID}" for="clienteID" />
                    <h:selectOneMenu id="clienteID" value="#{ventaController.selected.clienteID}" title="#{bundle.EditVentaTitle_clienteID}" required="true" requiredMessage="#{bundle.EditVentaRequiredMessage_clienteID}">
                        <f:selectItems value="#{clienteController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.EditVentaLabel_productID}" for="productID" />
                    <h:selectOneMenu id="productID" value="#{ventaController.selected.productID}" title="#{bundle.EditVentaTitle_productID}" required="true" requiredMessage="#{bundle.EditVentaRequiredMessage_productID}">
                        <f:selectItems value="#{productoController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{ventaController.update}" value="#{bundle.EditVentaSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditVentaViewLink}"/>
                <br />
                <h:commandLink action="#{ventaController.prepareList}" value="#{bundle.EditVentaShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditVentaIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
