<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListVentaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListVentaEmpty}" rendered="#{ventaController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{ventaController.items.rowCount > 0}">
                    <h:outputText value="#{ventaController.pagination.pageFirstItem + 1}..#{ventaController.pagination.pageLastItem + 1}/#{ventaController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{ventaController.previous}" value="#{bundle.Previous} #{ventaController.pagination.pageSize}" rendered="#{ventaController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{ventaController.next}" value="#{bundle.Next} #{ventaController.pagination.pageSize}" rendered="#{ventaController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{ventaController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListVentaTitle_ventaID}"/>
                            </f:facet>
                            <h:outputText value="#{item.ventaID}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListVentaTitle_fechaVenta}"/>
                            </f:facet>
                            <h:outputText value="#{item.fechaVenta}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListVentaTitle_clienteID}"/>
                            </f:facet>
                            <h:outputText value="#{item.clienteID}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListVentaTitle_productID}"/>
                            </f:facet>
                            <h:outputText value="#{item.productID}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{ventaController.prepareView}" value="#{bundle.ListVentaViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{ventaController.prepareEdit}" value="#{bundle.ListVentaEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{ventaController.destroy}" value="#{bundle.ListVentaDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{ventaController.prepareCreate}" value="#{bundle.ListVentaCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListVentaIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
