<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewVentaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewVentaLabel_ventaID}"/>
                    <h:outputText value="#{ventaController.selected.ventaID}" title="#{bundle.ViewVentaTitle_ventaID}"/>
                    <h:outputText value="#{bundle.ViewVentaLabel_fechaVenta}"/>
                    <h:outputText value="#{ventaController.selected.fechaVenta}" title="#{bundle.ViewVentaTitle_fechaVenta}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewVentaLabel_clienteID}"/>
                    <h:outputText value="#{ventaController.selected.clienteID}" title="#{bundle.ViewVentaTitle_clienteID}"/>
                    <h:outputText value="#{bundle.ViewVentaLabel_productID}"/>
                    <h:outputText value="#{ventaController.selected.productID}" title="#{bundle.ViewVentaTitle_productID}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{ventaController.destroyAndView}" value="#{bundle.ViewVentaDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewVentaEditLink}"/>
                <br />
                <h:commandLink action="#{ventaController.prepareCreate}" value="#{bundle.ViewVentaCreateLink}" />
                <br />
                <h:commandLink action="#{ventaController.prepareList}" value="#{bundle.ViewVentaShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewVentaIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
