* {
    font-family:sans-serif;
}
input[type="text"],  input[type="password"], input[type="date"], input[type="textarea"], select{
    font-family:sans-serif;
    font-size:15px;
    margin:3px;
    padding:3px;
    width:200px;
    height:23px;
    left: 30px;
    border: 2px solid #555;
}

  label {
    margin:15px;
    font-size:20px;
    font-family:sans-serif;
    }
    
    ul {
    width:99.5%;
    list-style:none;
    padding:0px;
    margin:0px;
     overflow: hidden;
    font-family:sans-serif;
    }
    
    a:not(.links):not(.volver){
    text-decoration:none;
    padding:10px;
    padding-left:15px;
    padding-right:15px;
    display:block;
    font-size:20px;
    color:black;   
    }
    
    hr {
        margin:0px;
        margin-bottom:20px;
    }
    
    li {
    float: left;
    border-right:1px solid #bbb;
    }
    
    .active {
        border-bottom-style:solid;
       border-bottom-color:black;
    }
    
/* VER */

.tabla {
  font-family:sans-serif;
  border-collapse: collapse;
  
  margin: 10px;
}
.tabla td, .tabla th {
  border: 1px solid #ddd;
  padding: 8px;
}

.tabla tr:nth-child(even){background-color: #f2f2f2;}

.tabla tr:hover {background-color: #ddd;}

.tabla th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #FFBF00;
  color: white;
}
    
    a {
    text-decoration:none;
    padding:10px;
    padding-left:15px;
    padding-right:15px;
    display:inline;
    font-size:20px;
    color:black;   
    }

.links {
    color: #606060;
    display:inline-block;
    border: solid 1px #b7b7b7;
    background: #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
    background: -moz-linear-gradient(top, #fff, #ededed);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
    }
    
    .links:hover{
          background: #E6E6E6;
    }
    
    .linkss  {
    color: #fae7e9;
    display:inline-block;
    border:none;
    background: #da5867;
    background: -webkit-gradient(linear, left top, left bottom, from(#f16c7c), to(#bf404f));
    background: -moz-linear-gradient(top, #f16c7c, #bf404f);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f16c7c', endColorstr='#bf404f');
        }
        
        .linkss:hover {
            background:#FE2E2E;
        }
        
        .volver {
background-color:#FFBF00;
                             color: #fef4e9;
                             margin:10px;
                             border: solid 1px #da7c0c;
                             background: #f78d1d;
                             background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
                             background: -moz-linear-gradient(top, #faa51a, #f47a20);
                             filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
                             border:none;
                             font-family:sans-serif;
                             font-size:20px;
        }
        
        .volver:hover {
            background:#FF8000;
        }
        
        .save {
       color: #e8f0de;
    border: solid 1px #538312;
    margin-left:8px;
    border:none;
    background: #64991e;
    background: -webkit-gradient(linear, left top, left bottom, from(#7db72f), to(#4e7d0e));
    background: -moz-linear-gradient(top, #7db72f, #4e7d0e);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db72f', endColorstr='#4e7d0e');
    border:none;
     font-size:20px;
        }
        
             .naranja {
                background-color:#FFBF00;
                             color: #fef4e9;
                             margin:10px;
                             margin-bottom:0px;
                             border: solid 1px #da7c0c;
                             background: #f78d1d;
                             background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
                             background: -moz-linear-gradient(top, #faa51a, #f47a20);
                             filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
                             border:none;
                             font-family:sans-serif;
                             font-size:13px;
        }