ul {
    width:99.5%;
    list-style:none;
    color:white;
    padding:0px;
    margin:1px;
   overflow: hidden;
    background-color: #FFBF00;
    font-family:sans-serif;
}

a:not(.active), a:not(.active2) {
    text-decoration:none;
    padding:20px;
    padding-left:25px;
    padding-right:25px;
    display:block;
    font-size:20px;
    color:black;
}

li a:hover:not(.active) {
    background-color: #2E2E2E;
    color:white;
}

li {
    float: left;
    border-right:1px solid #bbb;
}

li:last-child {
    border-right: none;
}

.active {
    background-color: #2E2E2E;
    color:white;
     text-decoration:none;
    padding:20px;
    padding-left:25px;
    padding-right:25px;
    display:block;
    font-size:20px;
}

.lis {
     color:white;
     text-align:center;
}

ul li ul {
    display:none;
    background-color:#585858;
    text-align:right;
    color:white;
}

ul li:hover ul {
      display:inline-block;
        width: 300px;
        position:absolute;
        font-family:sans-serif;
        font-size:5px;
        right:13px;
        text-align:right;
        color:white;
}


    label {
    margin:15px;
    font-size:20px;
    }

input[type="text"],  input[type="password"], input[type="date"], select {
    font-family:sans-serif;
    font-size:15px;
    margin:3px;
    padding:3px;
    width:200px;
    height:23px;
    left: 30px;
    border: 2px solid #555;
}

selectOneMenu {
    height:31px;
    margin-left:35px;
}

select[name="Provvedor"]{
   margin-left:25px;
}

hr {
    margin:10px;
}

#productoID {
    margin-left:55px;
}

#productoName {
    margin-left:47px;
}

#unitPrice {
    margin-left:-9px;
    text-align:right;
}

#unitInStock {
    margin-left:37px;
    margin-right:45px;
    text-align:right;
}

form {
    font-size:18px;
    font-family:sans-serif;
}
/* NUEVO */

     .naranja {
                background-color:#FFBF00;
                             color: #fef4e9;
                             margin:10px;
                             margin-bottom:0px;
                             border: solid 1px #da7c0c;
                             background: #f78d1d;
                             background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
                             background: -moz-linear-gradient(top, #faa51a, #f47a20);
                             filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
                             border:none;
                             font-family:sans-serif;
                             font-size:13px;
        }
        
        #description {
            width:400px;
             margin-left:19px;
        }
        
                .volver {
background-color:#FFBF00;
                             color: #fef4e9;
                             margin:10px;
                             border: solid 1px #da7c0c;
                             background: #f78d1d;
                             background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
                             background: -moz-linear-gradient(top, #faa51a, #f47a20);
                             filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
                             border:none;
                             font-family:sans-serif;
                             font-size:20px;
        }
    