form {
    background-color:#FAFAFA;
    font-family:sans-serif;
    text-align: left;
    font-size:20px;
    border:10px;
    width:450px;
    margin:30px;
    padding:20px;
    box-shadow: 4px 4px rgba(0, 0, 0, 1);
}

label {
    font-size:24px;
    margin-top:30px;
}

input[type="text"],  input[type="password"]{
    font-size: 15px;
    margin:3px;
    width:250px;
    height:25px;
    left: 30px;
    border: 2px solid #555;
}

input[type="button"] {
    background-color:#FFBF00;
    font-size:17px;
    width:120px;
    padding:10px;
    border:none;
   
}


input[type="button"]:hover {
    background-color:#FDB204;
    font-size:18px;
    transition: 0.5s;
    cursor:pointer;
}
