ul {
    width:99.5%;
    list-style:none;
    color:white;
    padding:0px;
    margin:1px;
   overflow: hidden;
    background-color: #FFBF00;
    font-family:sans-serif;
}

a {
    text-decoration:none;
    padding:20px;
    padding-left:25px;
    padding-right:25px;
    display:block;
    font-size:20px;
    color:black;
}

li a:hover:not(.active) {
    background-color: #2E2E2E;
    color:white;
}

li {
    float: left;
    border-right:1px solid #bbb;
}

li:last-child {
    border-right: none;
}

.active {
    background-color: #2E2E2E;
    color:white;
}

.lis {
     color:white;
     text-align:center;
}

ul li ul {
    display:none;
    background-color:#585858;
    text-align:right;
    color:white;
}

ul li:hover ul {
      display:inline-block;
        width: 300px;
        position:absolute;
        font-family:sans-serif;
        font-size:5px;
        right:13px;
        text-align:right;
        color:white;
}

    label {
        font-family:sans-serif;
        margin:15px;
    font-size:20px;
    }
    
    input[name="TXT_cod"] {
    margin-left:55px;
}

input[name="TXT_art"] {
    margin-left:52px;
}

input[name="TXT_cunit"] {
    margin-left:-9px;
    text-align:right;
}

input[name="TXT_iva"], input[name="TXT_total"] {
    text-align:right;
    width:130px;
}

input[name="TXT_can"] {
    margin-left:37px;
    margin-right:45px;
    text-align:right;
}
    input[type="text"], input[type="date"], select{
    font-family:sans-serif;
    font-size:15px;
    margin:3px;
    padding:3px;
    width:200px;
    height:23px;
    left: 30px;
    border: 2px solid #555;
}
li {
    display:inline-block;
}
a {
    text-decoration:none;
    padding:20px;
    padding-left:40px;
    padding-right:40px;
    display:inline-block;
    font-size:20px;
    color:black;
}
a:hover{
    background-color:#FF8000;
    transition: 0.2s;
    cursor:pointer;
}
input[type="button"] {
    background-color:#FFBF00;
    font-size:17px;
    width:120px;
    padding:10px;
    border:none;
}
input[type="text"] {
    font-size: 15px;
    margin:3px;
    width:250px;
    height:25px;
    left: 30px;
    border: 2px solid #555;
}
form {
    font-size:18px;
    font-family:sans-serif;
}


#tabla {
  font-family:sans-serif;
  border-collapse: collapse;
  width: 98.5%;
  margin: 10px;
}
#tabla td, #tabla th {
  border: 1px solid #ddd;
  padding: 8px;
}

#tabla tr:nth-child(even){background-color: #f2f2f2;}

#tabla tr:hover {background-color: #ddd;}

#tabla th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #FFBF00;
  color: white;
}

