<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditClienteTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditClienteLabel_clienteID}" for="clienteID" />
                    <h:inputText id="clienteID" value="#{clienteController.selected.clienteID}" title="#{bundle.EditClienteTitle_clienteID}" required="true" requiredMessage="#{bundle.EditClienteRequiredMessage_clienteID}"/>
                    <h:outputLabel value="#{bundle.EditClienteLabel_clienteName}" for="clienteName" />
                    <h:inputText id="clienteName" value="#{clienteController.selected.clienteName}" title="#{bundle.EditClienteTitle_clienteName}" required="true" requiredMessage="#{bundle.EditClienteRequiredMessage_clienteName}"/>
                    <h:outputLabel value="#{bundle.EditClienteLabel_clienteApellido}" for="clienteApellido" />
                    <h:inputText id="clienteApellido" value="#{clienteController.selected.clienteApellido}" title="#{bundle.EditClienteTitle_clienteApellido}" required="true" requiredMessage="#{bundle.EditClienteRequiredMessage_clienteApellido}"/>
                    <h:outputLabel value="#{bundle.EditClienteLabel_clientPhone}" for="clientPhone" />
                    <h:inputText id="clientPhone" value="#{clienteController.selected.clientPhone}" title="#{bundle.EditClienteTitle_clientPhone}" required="true" requiredMessage="#{bundle.EditClienteRequiredMessage_clientPhone}"/>
                </h:panelGrid>
                <h:commandLink action="#{clienteController.update}" value="#{bundle.EditClienteSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditClienteViewLink}"/>
                <br />
                <h:commandLink action="#{clienteController.prepareList}" value="#{bundle.EditClienteShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditClienteIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
