<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditPedidoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditPedidoLabel_pedidoID}" for="pedidoID" />
                    <h:inputText id="pedidoID" value="#{pedidoController.selected.pedidoID}" title="#{bundle.EditPedidoTitle_pedidoID}" required="true" requiredMessage="#{bundle.EditPedidoRequiredMessage_pedidoID}"/>
                    <h:outputLabel value="#{bundle.EditPedidoLabel_fechaPedido}" for="fechaPedido" />
                    <h:inputText id="fechaPedido" value="#{pedidoController.selected.fechaPedido}" title="#{bundle.EditPedidoTitle_fechaPedido}" required="true" requiredMessage="#{bundle.EditPedidoRequiredMessage_fechaPedido}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.EditPedidoLabel_costoPedido}" for="costoPedido" />
                    <h:inputText id="costoPedido" value="#{pedidoController.selected.costoPedido}" title="#{bundle.EditPedidoTitle_costoPedido}" required="true" requiredMessage="#{bundle.EditPedidoRequiredMessage_costoPedido}"/>
                    <h:outputLabel value="#{bundle.EditPedidoLabel_descriptionPedido}" for="descriptionPedido" />
                    <h:inputText id="descriptionPedido" value="#{pedidoController.selected.descriptionPedido}" title="#{bundle.EditPedidoTitle_descriptionPedido}" required="true" requiredMessage="#{bundle.EditPedidoRequiredMessage_descriptionPedido}"/>
                    <h:outputLabel value="#{bundle.EditPedidoLabel_productoID}" for="productoID" />
                    <h:selectOneMenu id="productoID" value="#{pedidoController.selected.productoID}" title="#{bundle.EditPedidoTitle_productoID}" required="true" requiredMessage="#{bundle.EditPedidoRequiredMessage_productoID}">
                        <f:selectItems value="#{productoController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.EditPedidoLabel_proveedorID}" for="proveedorID" />
                    <h:selectOneMenu id="proveedorID" value="#{pedidoController.selected.proveedorID}" title="#{bundle.EditPedidoTitle_proveedorID}" required="true" requiredMessage="#{bundle.EditPedidoRequiredMessage_proveedorID}">
                        <f:selectItems value="#{proveedorController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{pedidoController.update}" value="#{bundle.EditPedidoSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditPedidoViewLink}"/>
                <br />
                <h:commandLink action="#{pedidoController.prepareList}" value="#{bundle.EditPedidoShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditPedidoIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
