<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewPedidoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewPedidoLabel_pedidoID}"/>
                    <h:outputText value="#{pedidoController.selected.pedidoID}" title="#{bundle.ViewPedidoTitle_pedidoID}"/>
                    <h:outputText value="#{bundle.ViewPedidoLabel_fechaPedido}"/>
                    <h:outputText value="#{pedidoController.selected.fechaPedido}" title="#{bundle.ViewPedidoTitle_fechaPedido}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewPedidoLabel_costoPedido}"/>
                    <h:outputText value="#{pedidoController.selected.costoPedido}" title="#{bundle.ViewPedidoTitle_costoPedido}"/>
                    <h:outputText value="#{bundle.ViewPedidoLabel_descriptionPedido}"/>
                    <h:outputText value="#{pedidoController.selected.descriptionPedido}" title="#{bundle.ViewPedidoTitle_descriptionPedido}"/>
                    <h:outputText value="#{bundle.ViewPedidoLabel_productoID}"/>
                    <h:outputText value="#{pedidoController.selected.productoID}" title="#{bundle.ViewPedidoTitle_productoID}"/>
                    <h:outputText value="#{bundle.ViewPedidoLabel_proveedorID}"/>
                    <h:outputText value="#{pedidoController.selected.proveedorID}" title="#{bundle.ViewPedidoTitle_proveedorID}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{pedidoController.destroyAndView}" value="#{bundle.ViewPedidoDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewPedidoEditLink}"/>
                <br />
                <h:commandLink action="#{pedidoController.prepareCreate}" value="#{bundle.ViewPedidoCreateLink}" />
                <br />
                <h:commandLink action="#{pedidoController.prepareList}" value="#{bundle.ViewPedidoShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewPedidoIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
