<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditProveedorTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditProveedorLabel_proveedorID}" for="proveedorID" />
                    <h:inputText id="proveedorID" value="#{proveedorController.selected.proveedorID}" title="#{bundle.EditProveedorTitle_proveedorID}" required="true" requiredMessage="#{bundle.EditProveedorRequiredMessage_proveedorID}"/>
                    <h:outputLabel value="#{bundle.EditProveedorLabel_proveedorName}" for="proveedorName" />
                    <h:inputText id="proveedorName" value="#{proveedorController.selected.proveedorName}" title="#{bundle.EditProveedorTitle_proveedorName}" required="true" requiredMessage="#{bundle.EditProveedorRequiredMessage_proveedorName}"/>
                    <h:outputLabel value="#{bundle.EditProveedorLabel_proveedorPhone}" for="proveedorPhone" />
                    <h:inputText id="proveedorPhone" value="#{proveedorController.selected.proveedorPhone}" title="#{bundle.EditProveedorTitle_proveedorPhone}" required="true" requiredMessage="#{bundle.EditProveedorRequiredMessage_proveedorPhone}"/>
                    <h:outputLabel value="#{bundle.EditProveedorLabel_productoID}" for="productoID" />
                    <h:selectOneMenu id="productoID" value="#{proveedorController.selected.productoID}" title="#{bundle.EditProveedorTitle_productoID}" required="true" requiredMessage="#{bundle.EditProveedorRequiredMessage_productoID}">
                        <f:selectItems value="#{productoController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{proveedorController.update}" value="#{bundle.EditProveedorSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditProveedorViewLink}"/>
                <br />
                <h:commandLink action="#{proveedorController.prepareList}" value="#{bundle.EditProveedorShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditProveedorIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
