<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListProveedorTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListProveedorEmpty}" rendered="#{proveedorController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{proveedorController.items.rowCount > 0}">
                    <h:outputText value="#{proveedorController.pagination.pageFirstItem + 1}..#{proveedorController.pagination.pageLastItem + 1}/#{proveedorController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{proveedorController.previous}" value="#{bundle.Previous} #{proveedorController.pagination.pageSize}" rendered="#{proveedorController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{proveedorController.next}" value="#{bundle.Next} #{proveedorController.pagination.pageSize}" rendered="#{proveedorController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{proveedorController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListProveedorTitle_proveedorID}"/>
                            </f:facet>
                            <h:outputText value="#{item.proveedorID}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListProveedorTitle_proveedorName}"/>
                            </f:facet>
                            <h:outputText value="#{item.proveedorName}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListProveedorTitle_proveedorPhone}"/>
                            </f:facet>
                            <h:outputText value="#{item.proveedorPhone}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListProveedorTitle_productoID}"/>
                            </f:facet>
                            <h:outputText value="#{item.productoID}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{proveedorController.prepareView}" value="#{bundle.ListProveedorViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{proveedorController.prepareEdit}" value="#{bundle.ListProveedorEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{proveedorController.destroy}" value="#{bundle.ListProveedorDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{proveedorController.prepareCreate}" value="#{bundle.ListProveedorCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListProveedorIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
