<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewProveedorTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewProveedorLabel_proveedorID}"/>
                    <h:outputText value="#{proveedorController.selected.proveedorID}" title="#{bundle.ViewProveedorTitle_proveedorID}"/>
                    <h:outputText value="#{bundle.ViewProveedorLabel_proveedorName}"/>
                    <h:outputText value="#{proveedorController.selected.proveedorName}" title="#{bundle.ViewProveedorTitle_proveedorName}"/>
                    <h:outputText value="#{bundle.ViewProveedorLabel_proveedorPhone}"/>
                    <h:outputText value="#{proveedorController.selected.proveedorPhone}" title="#{bundle.ViewProveedorTitle_proveedorPhone}"/>
                    <h:outputText value="#{bundle.ViewProveedorLabel_productoID}"/>
                    <h:outputText value="#{proveedorController.selected.productoID}" title="#{bundle.ViewProveedorTitle_productoID}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{proveedorController.destroyAndView}" value="#{bundle.ViewProveedorDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewProveedorEditLink}"/>
                <br />
                <h:commandLink action="#{proveedorController.prepareCreate}" value="#{bundle.ViewProveedorCreateLink}" />
                <br />
                <h:commandLink action="#{proveedorController.prepareList}" value="#{bundle.ViewProveedorShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewProveedorIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
