<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
          
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Agregar Categoria</title>
          <link rel="stylesheet" type="text/css" href="../resources/css/Categoria.css"/>
    </h:head>
    <h:body style="background-color:#FAFAFA">
        <h:form> <img src="../resources/images/LOGO.png" width="400px" height="99"/><br/>  
            <ul>
                <li><a class="active" href="">Añadir Categorias</a></li>
                <li> <h:commandLink action="#{categoriasController.prepareList}" value="Ver Categorias"/>
                            </li>
            </ul></h:form>
        <h:form>
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <hr/>
            <h:panelGrid columns="2">
              <h:outputLabel value="Nombre de Categoria:" for="nombreCat"/>
              <h:inputText id="nombreCat" value="#{categoriasController.selected.nombreCat}" title="#{bundlecategories.CreateCategoriasTitle_nombreCat}" required="false" requiredMessage="#{bundlecategories.CreateCategoriasRequiredMessage_nombreCat}"/>
        <h:outputLabel value="Descripcion:" for="descripcion"/>
        <h:inputText id="descripcion" value="#{categoriasController.selected.descripcion}" title="#{bundlecategories.CreateCategoriasTitle_descripcion}" required="false" requiredMessage="#{bundlecategories.CreateCategoriasRequiredMessage_descripcion}"/>
              </h:panelGrid><br/>
            <p:commandButton class="volver" action="#{categoriasController.create}" value="#{bundlecategories.CreateCategoriasSaveLink}" />
            <p:commandButton class="volver" onclick="location.href='../producto/Create.xhtml'" value="◄  Volver" />
                             
            </h:form>
    </h:body>
</html>

