<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

 <h:head>
        <title>Agregar Categoria</title>
          <link rel="stylesheet" type="text/css" href="../resources/css/Categoria.css"/>
    </h:head>
    <h:body style="background-color:#FAFAFA">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <img src="../resources/images/LOGO.png" width="400px" height="99"/><br/>  <hr/>
                <label><b>EDITAR</b></label><br/><br/>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundlecategories.EditCategoriasLabel_id}" for="id" />
                    <h:inputText id="id" value="#{categoriasController.selected.id}" title="#{bundlecategories.EditCategoriasTitle_id}" required="true" requiredMessage="#{bundlecategories.EditCategoriasRequiredMessage_id}"/>
                    <h:outputLabel value="#{bundlecategories.EditCategoriasLabel_nombreCat}" for="nombreCat" />
                    <h:inputText id="nombreCat" value="#{categoriasController.selected.nombreCat}" title="#{bundlecategories.EditCategoriasTitle_nombreCat}" required="true" requiredMessage="#{bundlecategories.EditCategoriasRequiredMessage_nombreCat}"/>
                    <h:outputLabel value="#{bundlecategories.EditCategoriasLabel_descripcion}" for="descripcion" />
                    <h:inputText id="descripcion" value="#{categoriasController.selected.descripcion}" title="#{bundlecategories.EditCategoriasTitle_descripcion}" required="true" requiredMessage="#{bundlecategories.EditCategoriasRequiredMessage_descripcion}"/>
                </h:panelGrid><br/><br/>
                <p:commandButton class="save" action="#{categoriasController.update}" value="#{bundlecategories.EditCategoriasSaveLink}"/>
                <p:commandButton class="volver" action="#{categoriasController.prepareList}" value="#{bundlecategories.EditCategoriasShowAllLink}" immediate="true"/>
                <br />
                <br />
            </h:form>
    </h:body>

</html>
