<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
     <h:head>
        <title>Ver Categoria</title>
        <link href="../resources/css/Producto.css" rel="stylesheet" type="text/css"/>
        <link href="../resources/css/Categoria.css" rel="stylesheet" type="text/css"/>
    </h:head>
    <h:body style="background-color:#FAFAFA">
            <h:form>
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                 <img src="../resources/images/LOGO.png" width="400px" height="99"/><br/>   
            <ul>
                <li><a href="Create.xhtml">Añadir Categorias</a></li>
                <li><a class="active" href="VerCategoria.xhtml">Ver Categorias</a></li>
            </ul>
            <hr/>
              <label>Lista de Categorias:</label>
                <h:panelGroup rendered="#{categoriasController.items.rowCount > 0}">
                 <h:outputText value="#{categoriasController.pagination.pageFirstItem + 1}..#{categoriasController.pagination.pageLastItem + 1}/#{categoriasController.pagination.itemsCount}"/>&nbsp;
                    <BR/> 
                 <p:commandButton class="naranja" action="#{categoriasController.previous}" value="#{bundlecategories.Previous} #{categoriasController.pagination.pageSize}" rendered="#{categoriasController.pagination.hasPreviousPage}"/>&nbsp;
                    <p:commandButton class="naranja" action="#{categoriasController.next}" value="#{bundlecategories.Next} #{categoriasController.pagination.pageSize}" rendered="#{categoriasController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable class="tabla" value="#{categoriasController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundlecategories.ListCategoriasTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundlecategories.ListCategoriasTitle_nombreCat}"/>
                            </f:facet>
                            <h:outputText value="#{item.nombreCat}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundlecategories.ListCategoriasTitle_descripcion}"/>
                            </f:facet>
                            <h:outputText value="#{item.descripcion}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:outputText value=" "/>
                            <p:commandButton class="links"  action="#{categoriasController.prepareEdit}" value="#{bundlecategories.ListCategoriasEditLink}"/>
                            <h:outputText value=" "/>
                            <p:commandButton class="linkss" action="#{categoriasController.destroy}" value="#{bundlecategories.ListCategoriasDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
               <br />
                <br />
                 <p:commandButton class="volver" onclick="location.href='../producto/Create.xhtml'" value="◄  Volver" />
               
            </h:form>
</h:body>
</html>
