<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundlecategories.ViewCategoriasTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundlecategories.ViewCategoriasLabel_id}"/>
                    <h:outputText value="#{categoriasController.selected.id}" title="#{bundlecategories.ViewCategoriasTitle_id}"/>
                    <h:outputText value="#{bundlecategories.ViewCategoriasLabel_nombreCat}"/>
                    <h:outputText value="#{categoriasController.selected.nombreCat}" title="#{bundlecategories.ViewCategoriasTitle_nombreCat}"/>
                    <h:outputText value="#{bundlecategories.ViewCategoriasLabel_descripcion}"/>
                    <h:outputText value="#{categoriasController.selected.descripcion}" title="#{bundlecategories.ViewCategoriasTitle_descripcion}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{categoriasController.destroyAndView}" value="#{bundlecategories.ViewCategoriasDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundlecategories.ViewCategoriasEditLink}"/>
                <br />
                <h:commandLink action="#{categoriasController.prepareCreate}" value="#{bundlecategories.ViewCategoriasCreateLink}" />
                <br />
                <h:commandLink action="#{categoriasController.prepareList}" value="#{bundlecategories.ViewCategoriasShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundlecategories.ViewCategoriasIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
