<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Login</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <h:outputStylesheet name="css/jsfcrud.css"/>
        <link rel="stylesheet" type="text/css" href="resources/css/estilo_Index.css"/>
    </h:head>
    <h:body style="background-color:#2E2E2E">
        <p:growl id="growl" sticky="true" showDetail="true"></p:growl>
        <h:form>
            <img src="resources/images/LOGO.png" width="400px" height="99"/> <br/>
            <label>INICIAR SESION</label><br/><hr/>
            Usuario:<br/>
            <p:inputText value="#{loginController.username}"></p:inputText><br/>
                Contraseña:<br/>
            <p:password value="#{loginController.pass}"></p:password><br/><br/>
            <p:commandButton value="Login" action="#{loginController.loginControl()}"
                             style="background-color:#FFBF00;
                             color: #fef4e9;
                             border: solid 1px #da7c0c;
                             background: #f78d1d;
                             background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
                             background: -moz-linear-gradient(top, #faa51a, #f47a20);
                             filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
                             border:none;"> </p:commandButton>
        </h:form>
        <!-- <br />
        <h:link outcome="/cliente/List" value="Show All Cliente Items"/>
        <br />
        <h:link outcome="/pedido/List" value="Show All Pedido Items"/>
        <br />
        <h:link outcome="/producto/List" value="Show All Producto Items"/>
        <br />
        <h:link outcome="/proveedor/List" value="Show All Proveedor Items"/>
        <br />
        <h:link outcome="/venta/List" value="Show All Venta Items"/>
        <br />
        <h:link outcome="/users/List" value="Show All Users Items"/>
        <br />
        <h:link outcome="/categorias/List" value="Show All Categorias Items"/> -->
    </h:body>
</html>
