<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>INICIO</title>
        <link rel="stylesheet" type="text/css" href="resources/css/estilo_inicio.css"/>
        
    </h:head>
    <h:body style="background-color:#FAFAFA">
     <img src="resources/images/LOGO.png" width="400px" height="99"/> <br/>
         <ul>
        <li><a class="active" href="" target="_parent">REGISTRAR PRODUCTO</a></li>
        <li><a href="Ventas.xhtml" target="_parent">REGISTRAR VENTA</a></li>
        <li><a href="Productos.xhtml" target="_parent">UNIDADES EN STOCK</a></li>
        <li style="float:right;"><a href=""  class="active">▼ OPCIONES</a>
        <ul>
          <li><a class="lis" href="">AGREGAR USUARIO</a></li>
          <li><a class="lis" href="">AGREGAR PROVEEDOR</a></li>
          <li><a class="lis" href="">AGREGAR CLIENTE</a></li>
          <li><a class="lis" href="">CERRAR SESION</a></li>
        </ul>
      </li>
         </ul><br/>
         <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
        <h:form>
            <label>Entrada de Articulos:</label><hr/>
            <label>Categoria:</label>
        <p:selectOneMenu  id="console" value="#{categoriasController.items}" var="item" style=" height:31px;
    margin:0p; margin-left:35px; height:24px;">
            <f:selectItem itemLabel="-- Seleccione --" itemValue="" />
            <f:selectItems value="#{categoriasController.pagination.itemsCount}"/>
            <h:outputText value="#{item.nombreCat}"/>
        </p:selectOneMenu>
              
            <p:commandButton class="naranja" onclick="location.href='categorias/Create.xhtml'" value="Añadir Categoria" ></p:commandButton><br/>
           <br/> <label>Codigo:     </label>
           <h:inputText id="productoID" value="#{productoController.selected.productoID}" title="#{bundle.CreateProductoTitle_productoID}" required="true" requiredMessage="#{bundle.CreateProductoRequiredMessage_productoID}"/>
           <br/> <label>Nombre:     </label>
            <h:inputText id="productoName" value="#{productoController.selected.productoName}" title="#{bundle.CreateProductoTitle_productoName}" required="true" requiredMessage="#{bundle.CreateProductoRequiredMessage_productoName}"/>
           <br/> <label>Costo Unitario:  </label>
           <h:inputText id="unitPrice" value="#{productoController.selected.unitPrice}" title="#{bundle.CreateProductoTitle_unitPrice}" required="true" requiredMessage="#{bundle.CreateProductoRequiredMessage_unitPrice}"/>
           <br/> <label>Cantidad:   </label> 
           <h:inputText id="unitInStock" value="#{productoController.selected.unitInStock}" title="#{bundle.CreateProductoTitle_unitInStock}" required="true" requiredMessage="#{bundle.CreateProductoRequiredMessage_unitInStock}"/>
            <label>Fecha de Compra:</label>
            <h:inputText id="fechaAdquisicion" value="#{productoController.selected.fechaAdquisicion}" title="#{bundle.CreateProductoTitle_fechaAdquisicion}" required="true" requiredMessage="#{bundle.CreateProductoRequiredMessage_fechaAdquisicion}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>   
            <br/><label>Descripcion:</label>
                <h:inputText class="TA" id="description" value="#{productoController.selected.description}" title="#{bundle.CreateProductoTitle_description}" required="true" requiredMessage="#{bundle.CreateProductoRequiredMessage_description}"/>
            <hr/>
            <label>Proveedor: </label><select name="Provvedor">
                <option>Proveedor 1</option>
                <option>Proveedor 2</option>
                <option>Proveedor 3</option>
                <option>Proveedor 4</option>
                <option>Proveedor 5</option>
            </select><input type="button" name="TXT_add_pro" value="Añadir Proveedor" /><br/>
            <hr/>
              <p:commandButton class="volver" action="#{productoController.create}" value="#{bundle.CreateProductoSaveLink}" />
            <input type="button" value="Guardar" />
            <input type="reset" value="Cancelar" />
       </h:form>
    </h:body>
</html>

