<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>PRODUCTOS</title>
         <link href="resources/css/estilo_Prroductos.css" rel="stylesheet" type="text/css"/>
         <link href="resources/css/estilo_inicio.css" rel="stylesheet" type="text/css"/>
    </h:head>
    <h:body>
      <img src="resources/images/LOGO.png" width="400px" height="99"/> <br/>
         <ul>
        <li><a href="Inicio.xhtml" target="_parent">REGISTRAR PRODUCTO</a></li>
        <li><a href="Ventas.xhtml" target="_parent">REGISTRAR VENTA</a></li>
        <li><a class="active" href="" target="_parent">UNIDADES EN STOCK</a></li>
        <li style="float:right;"><a href=""  class="active">▼ OPCIONES</a>
        <ul>
          <li><a class="lis" href="">AGREGAR USUARIO</a></li>
          <li><a class="lis" href="">AGREGAR PROVEEDOR</a></li>
          <li><a class="lis" href="">AGREGAR CLIENTE</a></li>
          <li><a class="lis" href="">CERRAR SESION</a></li>
        </ul>
      </li>
         </ul><br/>
           Filtrar Por:<select name="Filtro">
                <option>Tipo 1</option>
                <option>Tipo 2</option>
                <option>Tipo 3</option>
                <option>Tipo 4</option>
                <option>Tipo 5</option>
           </select><hr/>
           <table id="tabla">
  <tr>
    <th>Tipo</th>
    <th>Codigo</th>
    <th>Nombre</th>
    <th>Descripcion</th>
    <th>Fecha de Compra</th>
    <th>Cantidad</th>
    <th>Precio Por Unidad</th>
  </tr>
  <tr>
    <td>tipo 1</td>
    <td>Codugo 1</td>
    <td>Nombre 1</td>
    <td>Este es la descripcion del producto 1</td>
    <td>DD/MM/AAAA</td>
    <td>01</td>
    <td>$00.00</td>
  </tr>
  <tr>
    <td>tipo 2</td>
    <td>Codugo 2</td>
    <td>Nombre 2</td>
    <td>Este es la descripcion del producto 2</td>
    <td>DD/MM/AAAA</td>
    <td>02</td>
    <td>$00.00</td>
  </tr>
  <tr>
    <td>tipo 3</td>
    <td>Codugo 3</td>
    <td>Nombre 3</td>
    <td>Este es la descripcion del producto 3</td>
    <td>DD/MM/AAAA</td>
    <td>03</td>
    <td>$00.00</td>
  </tr>
    <tr>
    <td>tipo 4</td>
    <td>Codugo 4</td>
    <td>Nombre 4</td>
    <td>Este es la descripcion del producto 4</td>
    <td>DD/MM/AAAA</td>
    <td>04</td>
    <td>$00.00</td>
  </tr>
    <tr>
    <td>tipo 5</td>
    <td>Codugo 5</td>
    <td>Nombre 5</td>
    <td>Este es la descripcion del producto 5</td>
    <td>DD/MM/AAAA</td>
    <td>05</td>
    <td>$00.00</td>
  </tr>
</table>
    </h:body>
</html>

