<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>VENTA DE PRODUCTOS</title>
    <link href="resources/css/estilo_inicio.css" rel="stylesheet" type="text/css"/>
    </h:head>
    <h:body>
        <img src="resources/images/LOGO.png" width="400px" height="99"/> <br/>
        <h:form><ul>
        <li><h:commandLink action="#{productoController.prepareCreate}" value="REGISTRAR PRODUCTO"/> </li>
        <li><a class="active" href="" target="_parent">REGISTRAR VENTA</a></li>
       <li><h:commandLink action="#{productoController.prepareList}" value="UNIDADES EN STOCK"/></li>
        <li style="float:right;"><a href=""  class="active">▼ OPCIONES</a>
        <ul>
          <li><a class="lis" href="">AGREGAR USUARIO</a></li>
          <li><a class="lis" href="">AGREGAR PROVEEDOR</a></li>
          <li><a class="lis" href="">AGREGAR CLIENTE</a></li>
          <li><a class="lis" href="">CERRAR SESION</a></li>
        </ul>
      </li>
            </ul></h:form><br/>
           <label>Codigo:</label>    <input type="text" name="TXT_cod" value="" /><br/>
         <label>Articulo:</label>      <input type="text" name="TXT_art" value="" /><br/>
         <label>Costo Unitario</label>  :<input type="text" name="TXT_cunit" value="" /><br/>
         <label>Cantidad:</label>      <input type="text" name="TXT_can" value="" />
         <label>subtotal:</label>      <input type="text" name="TXT_sub" value="" />
           <label>Iva:</label>    <input type="text" name="TXT_iva" value="" /><br/>
           <label>Total A Pagar:</label>    <input type="text" name="TXT_total" value="" /><br/>
          <hr/>
          Cliente:<input type="text" name="TXT_cli" value="" /><br/>
          <input type="button" value="Registrar" />
          <input type="reset" value="Cancelar" />
          <input type="submit" value="Borrar"  />
    </h:body>
</html>

